# Application configuration
FRONTEND_URL=

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# AWS SQS Configuration
SQS_QUEUE_URL=

# AWS SES Configuration
SES_FROM_EMAIL=

# Logflare Configuration
LOGFLARE_URL=
LOGFLARE_API_KEY=
LOGFLARE_SOURCE_ID=

# New Relic Configuration
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_API_KEY=
NEW_RELIC_ACCOUNT_ID=

# API Config
API_SECRET_KEY=

SECRET_KEY_BASE=
RAILS_MASTER_KEY=

